.card {
    width: 90%;
    margin: 4% auto;
    border: 1px solid black;
    border-radius: 10px;
    padding: 30px;
}

.titulo {
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-evenly;
    width: 60%;
    margin: 50px auto;
    padding: 20px;
    margin-top: 30px;
}

.container a {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px;
    border-radius: 5px;
    border-color: black;
    color: black;
    background-color: rgb(0, 0, 0, 0.1);
    font-size: 15px;
    padding: 15px;
    width: 200px;
    height: 50px;
    cursor: pointer;
    outline: none;
    text-decoration: none;
}

.container a:hover {
    background-color: rgb(0, 0, 0, 0.2);
}

.table {
    display: flex;
    justify-content: center;
    align-content: center;
}

.table table {
    width: 1800px;
    padding: 10px;
}

.table table th {
    border: 1px solid black;
    padding: 10px;
    width: 300px;
}

.table table td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

.btn {
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(0, 0, 0, 0.2);
}

.graficos {
    display: flex;
    flex-direction: column;
}

.grafico img {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 5px;
    padding: 30px;
    margin: 20px;
    background-color: rgb(0, 0, 0, 0.1);
}

.btns {
    display: flex;
    justify-content: space-evenly;
    padding-top: 30px;
    padding-bottom: 20px;
}

.btns a {
    text-align: center;
    border: solid 1px;
    border-radius: 5px;
    border-color: black;
    color: black;
    background-color: rgb(0, 0, 0, 0.1);
    font-size: 15px;
    padding: 15px;
    width: 300px;
    cursor: pointer;
    outline: none;
    text-decoration: none;
}

.btns a:hover {
    background-color: rgb(0, 0, 0, 0.2);
}