<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
    <link rel="stylesheet" th:href="@{/css/index.css}">
</head>
<body>
    <div class="card">
        <div class="titulo">
          <h1>Bienvenido</h1>
        </div>
        <div class="table-container">
          <table class="table" id="table">
            <tr class="header">
              <th>ID</th>
              <th>Fecha Inicio</th>
              <th>Sector</th>
              <th>Nombre</th>
              <th>Tema</th>
              <th>Nota</th>
              <th></th>
            </tr>
            <tr th:each="actividad, stat : ${data}" class="actividad-row">
              <td th:text="${actividad.id}"></td>
              <td th:text="${actividad.fecha_inicio}"></td>
              <td>
                <div th:if="${actividad.sector} == ''">
                  <span>--</span>
                </div>
                <div th:if="${actividad.sector} != ''">
                  <span th:text="${actividad.sector}"></span>
                </div>
              </td>
              <td th:text="${actividad.nombre}"></td>
              <td th:text="${actividad.tema}"></td>
              <td th:id="nota-promedio- + ${stat.index}">--</td>
              <td>
                <button class="evaluar" th:id="evaluar + ${stat.index}" th:onclick="'evaluar(' + ${stat.index} + ')'">evaluar</button>
                <form method="post" th:id="form + ${stat.index}" th:action="@{/post-nota}">
                  <input type="number" name="nota" min="1" max="7" step="1" class="nota" th:id="nota + ${stat.index}" th:onchange="'cambiarNota(' + ${stat.index} + ')'"/>
                  <input type="hidden" th:id="actividad_id + ${stat.index}" name="actividad_id" th:value="${actividad.id}"/>
                  <button class="enviar" th:id="enviar + ${stat.index}">enviar</button>
                </form>
              </td>
          </table>
        </div>
      </div>

      <script th:src="@{/js/index.js}"></script>
</body>
</html>