.card {
  width: 90%;
  margin: 4% auto;
  border: 1px solid black;
  border-radius: 10px;
  padding: 20px;
}

.titulo {
  text-align: center;
}

.categoria {
  padding: 20px;
}

.subtitulo {
  border-bottom: solid black 1px;
  width: 25%;
}

.comentarios {
  padding: 8px;
}

.comentario {
  margin: 20px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
}

.comentario h3 {
  margin-left: 5px;
}

.comentario p {
  margin-left: 25px;
}

.comentario div {
  text-align: end;
}

.agregar-comentario {
  padding: 10px;
}

.agregar-comentario button {
  padding: 10px;
  border-radius: 5px;
  border-width: 1px;
  cursor: pointer;
}

.formulario-comentario {
  margin: auto;
  width: 50%;
  display: none;
  flex-direction: column;
  border: 1px solid black;
  padding: 20px;
  border-radius: 10px;
}

.btn {
  padding-top: 15px;
  display: flex;
  justify-content: end;
}

.btn button {
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  border-width: 1px;
}

.btn button:hover {
  background-color: rgb(0, 0, 0, 0.1);
}

.input {
  gap: 8px;
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.agregar-comentario button:hover {
  background-color: rgb(0, 0, 0, 0.1);
}

.categoria .agregar-comentario {
  text-align: end;
}

.btns {
  display: flex;
  justify-content: space-evenly;
  padding-top: 30px;
  padding-bottom: 20px;
}

.btns a {
  text-align: center;
  border: solid 1px;
  border-radius: 5px;
  border-color: black;
  color: black;
  background-color: rgb(0, 0, 0, 0.1);
  font-size: 15px;
  padding: 15px;
  width: 300px;
  cursor: pointer;
  outline: none;
  text-decoration: none;
}

.btns a:hover {
  background-color: rgb(0, 0, 0, 0.2);
}

.fotos-actividad {
  display: flex;
  padding-top: 30px;
  gap: 20px;
}

.fotos-actividad img {
  padding: 20px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: rgb(0, 0, 0, 0.1);
}

.fotos-actividad img:hover {
  cursor: pointer;
}

.red-social {
  display: flex;
  padding-top: 15px;
}
