<!DOCTYPE html>
<html lang="es">
  <head>
    <title>{{ data["nombre"] }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/actividades.css') }}"
    >
  </head>
  <body>
    <div class="card">
      <div class="categoria">
        <div class="subtitulo">
          <h2>Fecha y hora de Inicio</h2>
        </div>
        <p>La fecha de inicio de la actividad es: {{ data['fecha_inicio'] }}</p>
        <p>La hora de inicio es: {{ data['hora_inicio'] }}</p>
      </div>
      <div class="categoria">
        <div class="subtitulo">
          <h2>Fecha y hora de Término</h2>
        </div>
        <p>
          La fecha de inicio de la actividad es: {{ data['fecha_termino'] }}
        </p>
        <p>La hora de inicio es: {{ data['hora_termino'] }}</p>
      </div>
      <div class="categoria">
        <div class="subtitulo">
          <h2>Comuna</h2>
        </div>
        <p>Comuna donde se realizara la actividad: {{ data['comuna'] }}</p>
      </div>
      <div class="categoria">
        <div class="subtitulo">
          <h2>Sector</h2>
        </div>
        <p>Sector en donde se realizara la actividad: {{ data['sector'] }}</p>
      </div>
      <div class="categoria">
        <div class="subtitulo">
          <h2>Tema</h2>
        </div>
        <p>{{ data['tema'] }}</p>
      </div>
      <div class="categoria">
        <div class="subtitulo">
          <h2>Datos del organizador</h2>
        </div>
        <p>
          Nombre: {{ data['nombre'] }} <br>
          Correo: {{ data['email'] }} <br>
          Teléfono: {{ data['celular'] }} <br>
        </p>
      </div>
      <div class="categoria">
        <div class="subtitulo">
          <h2>Contactar Por</h2>
        </div>
        {% for data in data['redes_sociales'] %}
        <div class="red-social">
          {% if data.nombre == 'instagram' %}
          <img src="{{ url_for('static', filename='image/instagram.png') }}" alt="instagram" width="20" height="20">
          {% elif data.nombre == 'whatsapp' %}
          <img src="{{ url_for('static', filename='image/whatsapp.png') }}" alt="whatsapp" width="20" height="20">
          {% elif data.nombre == 'X' %}
          <img src="{{ url_for('static', filename='image/X.png') }}" alt="X" width="20" height="20">
          {% elif data.nombre == 'telegram' %}
          <img src="{{ url_for('static', filename='image/telegram.png') }}" alt="telegram" width="20" height="20">
          {% elif data.nombre == 'tiktok' %}
          <img src="{{ url_for('static', filename='image/tiktok.png') }}" alt="tiktok" width="20" height="20">
          {% endif %}
          <p>{{ data.identificador }}</p>
        </div>
        {% endfor %}
      </div>
      <div class="categoria">
        <div class="subtitulo">
          <h2>Fotos</h2>
        </div>
        <div class="fotos-actividad">
          {% for foto in data['fotos'] %}
          <img
            src="{{ url_for('static', filename=foto) }}"
            alt="foto"
            width="320"
            height="240"
          >
          {% endfor %}
        </div>
      </div>
      <div class="btns">
        <a href="{{ url_for('actividades') }}"
          >Volver al listado de actividades</a
        >
        <a href="{{ url_for('index') }}">Volver al Inicio</a>
      </div>
    </div>
    <script src="{{ url_for('static', filename='js/actividades.js') }}"></script>
  </body>
</html>
