<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Agregar Actividad</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/agregar-actividad.css') }}"
    />
  </head>
  <body>
    <div class="card">
      <form method="post" id="formulario" enctype="multipart/form-data">
        <div class="titulo">
          <h1>Agregar Actividad</h1>
        </div>
        <div class="container">
          <div class="subtitulo">
            <h2>¿Donde?:</h2>
          </div>
          <div class="input">
            <label for="region">Region*</label>
            <select
              id="region"
              name="region"
              onchange="validarRegion()"
              required
            >
              <option value="--">--</option>
            </select>
            <span class="error" id="errorRegion"></span>
          </div>
          <div class="input">
            <label for="comuna">Comuna*</label>
            <select
              id="comuna"
              name="comuna"
              onchange="validarComuna()"
              disabled
              required
            >
              <option value="--">--</option>
            </select>
            <span class="error" id="errorComuna"></span>
          </div>
          <div class="input">
            <label for="sector">Sector</label>
            <input
              type="text"
              id="sector"
              name="sector"
              maxlength="100"
              onchange="validarSector()"
            />
          </div>
          <span class="error" id="errorSector"></span>

          <div class="subtitulo">
            <h2>¿Quién organiza?:</h2>
          </div>
          <div class="input">
            <label for="nombre">Nombre*</label>
            <input
              type="text"
              id="nombre"
              name="nombre"
              onchange="validarNombre()"
              maxlength="200"
              required
            />
            <span class="error" id="errorNombre"></span>
          </div>
          <div class="input">
            <label for="email">Email*</label>
            <input
              type="email"
              id="email"
              name="email"
              onchange="validarEmail()"
              maxlength="100"
              required
            />
            <span class="error" id="errorEmail"></span>
          </div>
          <div class="input">
            <label for="celular">N° de celular</label>
            <input
              type="tel"
              id="celular"
              name="celular"
              onchange="validarTelefono()"
            />
            <span class="error" id="errorCelular"></span>
          </div>
          <div class="input">
            <label for="contactarPor"
              >Contactar por (coloca tu ID o URL de una de las redes redes
              sociales)</label
            >
            <div class="redes-sociales">
              <div>
                <input
                  type="checkbox"
                  id="instagram"
                  name="red-social"
                  value="instagram"
                />
                <img
                  src="{{ url_for('static', filename='image/instagram.png') }}"
                  width="20"
                  height="20"
                  for="instagram"
                />
              </div>
              <div>
                <input
                  type="checkbox"
                  id="whatsapp"
                  name="red-social"
                  value="whatsapp"
                />
                <img
                  src="{{ url_for('static', filename='image/whatsapp.png') }}"
                  width="20"
                  height="20"
                  for="whatsapp"
                />
              </div>
              <div>
                <input type="checkbox" id="X" name="red-social" value="X" />
                <img
                  src="{{ url_for('static', filename='image/X.png') }}"
                  width="20"
                  height="20"
                  for="X"
                />
              </div>
            </div>
            <input
              type="text"
              id="contactarPor"
              name="contactarPor"
              minlength="4"
              maxlength="50"
              onchange="validarRedSocial()"
            />
          </div>
          <span class="error" id="errorRedSocial"></span>

          <div class="subtitulo">
            <h2>¿Cuándo y de qué trata?:</h2>
          </div>
          <div class="input">
            <label for="inicio">Día y hora de inicio*</label>
            <input
              type="datetime-local"
              id="inicio"
              name="inicio"
              onchange="validarFechas()"
            />
          </div>
          <div class="input">
            <label for="termino">Día y hora de término</label>
            <input
              type="datetime-local"
              id="termino"
              name="termino"
              onchange="validarFechas()"
            />
          </div>
          <span class="error" id="errorFecha"></span>
          <div class="input">
            <label for="descripcion">Descripción</label>
            <textarea
              id="descripcion"
              name="descripcion"
              cols="50"
              rows="10"
            ></textarea>
          </div>
          <div class="input">
            <label for="tema">Tema*</label>
            <select name="tema" id="tema" onchange="validarTema(); OtroTema()">
              <option value="--">--</option>
              <option value="musica">Música</option>
              <option value="deporte">Deporte</option>
              <option value="ciencias">Ciencias</option>
              <option value="religion">Religión</option>
              <option value="politica">Política</option>
              <option value="tecnología">Tecnología</option>
              <option value="juegos">Juegos</option>
              <option value="baile">Baile</option>
              <option value="comida">Comida</option>
              <option value="otro">Otro</option>
            </select>
            <span class="error" id="errorTema"></span>
            <div id="otroTema" style="display: none">
              <span>Ingresa el nuevo tema</span>
              <input
                type="text"
                name="inputOtroTema"
                id="inputOtroTema"
                minlength="3"
                maxlength="15"
              />
              <span class="error" id="errorOtro"></span>
            </div>
          </div>
          <div class="input">
            <label for="fotos">Foto*</label>
            <div class="fotos" id="fotos">
              <input type="file" name="foto1" onchange="validarFoto()" />
            </div>
            <span class="error" id="errorFoto"></span>
            <button type="button" id="otraFoto">Agregar otra foto</button>
          </div>
          <div class="agregarActividad">
            <button type="button" id="btnVolver">Volver al inicio</button>
            <button type="button" onclick="validate()" type="submit">
              Agregar Actividad
            </button>
          </div>
        </div>
      </form>
    </div>
  </body>
  <script src="{{ url_for('static', filename='js/agregar-actividad.js') }}"></script>
</html>
