<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Confirmación</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    >
  </head>
  <body>
    <div class="card">
      <h1 class="titulo">
        ¡Felicidades, Su actividad se ha agregado con exito!
      </h1>
      <div class="container">
        <button class="btn" onclick="redirigir()">
          Haga clik aqui para volver
        </button>
      </div>
    </div>
    <script>
      function redirigir() {
        window.location.href = "/";
      }
    </script>
  </body>
</html>
