<!DOCTYPE html>
<html lang="es">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Estadisticas</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <script src="https://code.highcharts.com/highcharts.js"></script>
  </head>
  <body>
    <div class="card">
      <div class="titulo">
        <h1>Estadisticas</h1>
      </div>
      <div class="graficos">
        <div class="grafico">
          <p>
            En este gráfico se muestra la cantidad de actividades por cada día.
          </p>
          <div id="graph1"></div>
        </div>
        <div class="grafico">
          <p>En este gráfico se muestra la cantidad de actividades por tipo.</p>
          <div id="graph2"></div>
        </div>
        <div class="grafico">
          <p>
            En este gráfico se muestra la cantidad de actividades por cada mes
            divididas en la mañana, tarde y noche.
          </p>
          <div id="graph3"></div>
        </div>
      </div>
      <div class="btns">
        <a href="{{ url_for('index') }}">Volver al inicio</a>
      </div>
    </div>
  </body>
  <script src="{{ url_for('static', filename='js/estadisticas.js') }}"></script>
</html>
