<!DOCTYPE html>
<html lang="es">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estadisticas</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    >
  </head>
  <body>
    <div class="card">
      <div class="titulo">
        <h1>Estadisticas</h1>
      </div>
      <div class="graficos">
        <div class="grafico">
          <p>
            En este gráfico se muestra la cantidad de actividades por cada día.
          </p>
          <img
            src="/image/grafico_barras.png"
            alt="Cantidad de usuarios por mes"
            width="350"
            height="200"
          >
        </div>
        <div class="grafico">
          <p>
            En este gráfico se muestra la cantidad de actividades por cada mes.
          </p>
          <img
            src="/image/grafico_torta.png"
            alt="Cantidad de usuarios por mes"
            width="300"
            height="190"
          >
        </div>
        <div class="grafico">
          <p>
            En este gráfico se muestra la cantidad de actividades por cada año.
          </p>
          <img
            src="/image/grafico_3barras.png"
            alt="Cantidad de usuarios por mes"
            width="400"
            height="210"
          >
        </div>
      </div>
      <div class="btns">
        <a href="{{ url_for('index') }}">Volver al inicio</a>
      </div>
    </div>
  </body>
</html>
