<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Portada</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <div class="card">
      <div class="titulo">
        <h1>Bienvenido</h1>
      </div>
      <div class="container">
        <a href="{{ url_for('agregar_actividad') }}">Agregar actividad</a>
        <a href="{{ url_for('actividades') }}">Ver listado de actividades</a>
        <a href="{{ url_for('estadisticas') }}">Estadisticas</a>
      </div>
      <div class="table">
        <table>
          <tr>
            <th>Inicio</th>
            <th>Termino</th>
            <th>Comuna</th>
            <th>Sector</th>
            <th>Tema</th>
            <th>Foto</th>
          </tr>
          {% for data in data %}
          <tr>
            <td>{{ data["dia_hora_inicio"] }}</td>
            <td>{{ data["dia_hora_termino"] }}</td>
            <td>{{ data["comuna"] }}</td>
            <td>{{ data["sector"] }}</td>
            <td>{{ data["descripcion"] }}</td>
            <td>Hola</td>
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </body>
</html>
